<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itemsaleinformation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inventory"></activity>
        <activity android:name=".Ecom_Tips" />
        <activity android:name=".Business_Guru" />
        <activity android:name=".Interior" />
        <activity android:name=".Laws" />
        <activity android:name=".More_Apps" />
        <activity android:name=".About_US" />
        <activity android:name=".Updates" />
        <activity android:name=".News" />
        <activity android:name=".Shop" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SalesInfoActivity" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>